<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analysis for Insulin Production</title>
</head>
<body>
    {# requirements for bootstrap #}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libraries/bootstrap/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='libraries/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libraries/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='libraries/highcharts.js') }}"></script>
    {# end of requirements for bootstrap #}

    <div id="page" class="mx-4">
    {% block navigation %}
      <nav class="navbar navbar-light bg-light justify-content-center">
        <ul class="nav"> {#
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/liquid_nitrogen">Liquid Nitrogen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_details">User Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li> #}
        </ul>
      </nav>
    {% endblock %}
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>