{% extends 'layout.html' %}
{% block body %}
<script src="{{ url_for('static', filename='javascript/medians.js') }}"></script>
<div id="plot" data-series="{{ series }}" data-batches="{{ batches }}"></div>

<div class="d-none" id="batch_table">
    <div class="row"><div class="col col-sm-6"><h3 id="batch"></h3></div><div class="col col-sm-6"><h3>Adjust parameters to predict Filtration-rate</h3></div></div>
    <div class="row mb-2">
        <div class="list-group col col-sm-6">

            {% for param in params %}
            {% set clean_param = param.replace(' ', '_').replace('"', '').replace('/', '_').replace('%', 'perc').replace('[', '').replace(']', '') %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action bg-light">
              <span class="param-name">{{ param }}</span>
            <span class="badge badge-primary badge-pill param-val" id="{{ clean_param }}"></span>
          </a>
            {% endfor %}
        </div>
        <div class="col col-sm-6 mt-2">

        <select class="form-control form-control-sm mt-2" id="select_param">
            {% for param in params[1:] %}
            {% set clean_param = param.replace(' ', '_').replace('"', '').replace('/', '_').replace('%', 'perc').replace('[', '').replace(']', '') %}
          <option id="option-{{ clean_param }}">{{param}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-sm btn-outline-primary mb-4" id="add_param">+ add parameter</button>

            {% for param in params[1:] %}
            {% set clean_param = param.replace(' ', '_').replace('"', '').replace('/', '_').replace('%', 'perc').replace('[', '').replace(']', '') %}
            <div class="row d-none" id="div-{{ clean_param }}">
                <div class="col col-sm-8">
                    <label for="slider-{{ clean_param }}">{{ param }}</label>
                    <span class="badge badge-light badge-pill"></span>
                </div>
                <div class="col col-sm-4">
                    <input type="range" name="slider-{{ clean_param }}" class="slider" id="slider-{{ clean_param }}"
                           min="{{ min_max[param]['min'] }}" max="{{ min_max[param]['max'] }}" value=""
                           step="{% if clean_param == 'Strasse' %}1{% else %}0.1{% endif %}">
                    <button class="btn btn-sm btn-danger delete_param">delete</button>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-sm btn-secondary mt-2 d-none" id="predict">Predict</button>

            <h2 id="predicted_title" class="d-none">Predicted Filtrationsverhalten: <span id="predicted" class="badge badge-pill badge-info"></span></h2>

            </div>
        </div>
    </div>
</div>

{% endblock %}